<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aisino.admin.companyCard.codeAssign.dao.CodeMainDao">
    <select id="get" resultType="KPCodeMainDO" parameterType="int">
        SELECT * FROM jskp_kpcode_assign_main where id=${value}
    </select>

    <insert id="insert" parameterType="KPCodeMainDO">
        INSERT INTO jskp_kpcode_assign_main(assign_company_name,assign_company_taxid,assign_employee_id,assign_employee_name,assign_employee_mobile,assign_amount,create_person,create_time,modify_person,modify_time)
        value(#{companyName},#{companyTaxid},#{employeeId},#{employeeName},#{employeeMobile},#{amount},#{createPerson},#{createTime},#{modifyPerson},#{modifyTime})
        <selectKey keyProperty="id" resultType="int">
            SELECT MAX(id) as id FROM jskp_kpcode_assign_main
        </selectKey>
    </insert>

    <insert id="insertKPCodeMains" useGeneratedKeys="true" parameterType="java.util.List" keyProperty="id">
        INSERT INTO jskp_kpcode_assign_main(assign_company_name,assign_company_taxid,assign_employee_id,assign_employee_name,assign_employee_mobile,assign_amount,create_person,create_time,modify_person,modify_time)
        values
        <foreach collection="list" item="item" index="index" separator="," >
            (#{companyName},#{companyTaxid},#{employeeId},#{employeeName},#{employeeMobile},#{amount},#{createPerson},#{createTime},#{modifyPerson},#{modifyTime})
        </foreach>
    </insert>

    <update id="update" parameterType="KPCodeMainDO">
        UPDATE jskp_kpcode_assign_main
        <set>
            <if test="companyName != null">assign_company_name=#{companyName},</if>
            <if test="companyTaxid != null">assign_company_taxid=#{companyTaxid},</if>
            <if test="employeeId != null">assign_employee_id=#{employeeId},</if>
            <if test="employeeName != null">assign_employee_name=#{employeeName},</if>
            <if test="employeeMobile != null">assign_employee_mobile=#{employeeMobile},</if>
            <if test="amount != null">assign_amount=#{amount},</if>
            <if test="createPerson != null">create_person=#{createPerson},</if>
            <if test="createTime != null">create_time=#{createTime},</if>
            <if test="modifyPerson != null">modify_person=#{modifyPerson},</if>
            <if test="modifyTime != null">modify_time=#{modifyTime},</if>
        </set>
        WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM  jskp_kpcode_assign_main WHERE id=#{value}
    </delete>


    <select id="queryByIds" parameterType="_int[]" resultType="KPCodeMainDO">
        SELECT * FROM jskp_kpcode_assign_main where id in
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <delete id="deleteBatch" parameterType="_int[]">
        delete FROM jskp_kpcode_assign_main where id in
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

</mapper>

















