<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 打印查询语句 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.aisino.admin.global.paging.Page" alias="Page"/>
        <package name="com.aisino.admin.companyCard.codeAssign.bean"/>
    </typeAliases>
    <mappers>
        <!--<mapper resource="com/aisino/admin/companyCard/codeAssign/mapper/KPCodeAssignMapper.xml"/>-->
        <!--<mapper resource="com/aisino/admin/companyCard/codeAssign/mapper/KPCodeDetailMapper.xml"/>-->
        <!--<mapper resource="com/aisino/admin/companyCard/codeAssign/mapper/KPCodeMainMapper.xml"/>-->
    </mappers>
</configuration>