<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--加载属性配置文件-->
    <context:property-placeholder location="classpath*:/properties/jdbc*.properties"/>

    <!--扫瞄注解包-->
    <context:component-scan base-package="com.aisino"/>

    <!-- 默认数据源 -->
    <bean id="defaultDataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <!-- 基本属性 url、user、password -->
        <property name="driverClassName">
            <value>${jdbc.driver}</value>
        </property>
        <property name="url">
            <value>${jdbc.url}</value>
        </property>
        <property name="username">
            <value>${jdbc.username}</value>
        </property>
        <property name="password">
            <value>${jdbc.password}</value>
        </property>
        <property name="maxActive">
            <value>${maxActive}</value>
        </property>
        <property name="initialSize">
            <value>${initialSize}</value>
        </property>
        <property name="maxWait">
            <value>${maxWait}</value>
        </property>
        <property name="minIdle">
            <value>${minIdle}</value>
        </property>
        <property name="removeAbandoned">
            <value>true</value>
        </property>
        <property name="removeAbandonedTimeout">
            <value>180</value>
        </property>
        <property name="connectionProperties">
            <value>clientEncoding=UTF-8</value>
        </property>
    </bean>

    <!--创建SqlSessionFactory-->
    <bean id="defaultSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="defaultDataSource"/>
        <!-- 自动扫描 mapper.xml文件(读取的是编译出来的classes目录中xml文件) -->
        <!--<property name="mapperLocations" value="classpath:com/**/mapper/*.xml"></property>-->
        <!--最新mybatis的配置文件位置-->
        <property name="configLocation" value="classpath:mybatis/mybatis-config.xml"/>
    </bean>

    <!-- 自动注册mybatis mapper bean -->
    <!--<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">-->
        <!--<property name="basePackage" value="com.aisino.**.dao"/>-->
        <!--<property name="sqlSessionFactoryBeanName" value="defaultSessionFactory"></property>-->
    <!--</bean>-->

    <bean id="defaultTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="defaultDataSource"/>
    </bean>

    <tx:annotation-driven transaction-manager="defaultTransactionManager"/>

    <bean id="dynamicDataSource" class="com.aisino.admin.global.configer.DynamicDataSource">
        <property name="targetDataSources">
            <map key-type="java.lang.String">
                <entry value-ref="defaultDataSource" key="dataServer"></entry>
            </map>
        </property>
        <!-- 默认使用defaultDataSource的数据源 -->
        <property name="defaultTargetDataSource" ref="defaultDataSource"></property>
    </bean>

    <import resource="classpath*:com/aisino/admin/**/codeAssign/spring*.xml"/>
</beans>